version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
      - db
    environment:
      NODE_ENV: production
      REDIS_HOST: redis 
      REDIS_PORT: 6379
      DATABASE_URL: postgresql://user:password@db:5432/nousdeux
    ports:
      - "3000:3000"
  db:
    image: postgres:16-alpine
    container_name: nous-deux_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nousdeux
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: nous-deux_redis
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30 
volumes:
  db_data:
  redis_data: